* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #007bff; /* Blue */
    --secondary-color: #333; /* Dark Gray */
    --accent-color: #fff; /* White */
    --bg-color: #f8f9fa; /* Light Gray */
    --shadow-color: rgb(0, 0, 0, 0.1);
    --success-color: #28a745; /* Green */
    --error-color: #dc3545; /* Red */
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-color);
    color: var(--secondary-color);
}

/* Header Section */

.header {
    background: var(--primary-color);
    width: 100%;
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999991;
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--accent-color);
}

.nav {
    display: flex;
    gap: 20px;
    padding: 5px;
}

.nav a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 500;
    transition: color 0.2s ease-in-out;
}

.nav a:hover {
    color: var(--accent-color);
}

/* Header section */

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 80px 20px;
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    gap: 20px;
}

.hero-content {
    max-width: 600px;
}

.hero-content h1 {
    color: var(--primary-color);
    font-size: 2.5rem; 
}

.hero-content p {
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin: 20px 0;
    padding: 5px;
}

.hero-img {
    width: 100%;
    max-width: 400px;
}

.btn {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 12px 24px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    color: var(--accent-color);
    background-color: var(--success-color);

}

/* Hero Section */

/* Features Section */
.features {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 20px;
    padding: 60px 40px;
    text-align: center;
}

.feature-box {
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px var(--shadow-color);
    transition: all 0.3s ease-in-out;
}

.feature-box:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px var(--shadow-color);
}

.feature-box h3 {
    color: var(--primary-color);
    margin-bottom: 10px;
}
/* Features Section */

/* Pricing Section */
.pricing {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 60px 30px;
}

.plan {
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    width: 380px;
    box-shadow: 0 4px 15px var(--shadow-color);
    transition: all 0.3s ease-in-out;
}

.plan:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px var(--shadow-color);
}

.plan h3 {
    color: var(--primary-color);
    font-size: 1.5rem;
}

.price {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.features-list {
    text-align: left;
}

.features-list p {
    font-size: 1rem;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.text-green {
    color: var(--success-color);
    margin-right: 10px;
}

.text-red {
    color: var(--error-color);
    margin-right: 10px;
}
/* Pricing Section */

/* Footer */
.footer  {
    background: #E0EAFC;
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);
    background: linear-gradient(to right, #CFDEF3, #E0EAFC);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    padding: 20px;

}

/* Footer */

/* Responsive */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
        
    }

    .hero {
        flex-direction: column-reverse;
        text-align: center;
    }

    .features {
        grid-template-columns: 1fr;
    }

    .pricing {
        flex-direction: column;
        align-items: center;
    }

    .footer {
        grid-template-columns: 1fr;
    }
}