* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #007bff; /* Blue */
    --secondary-color: #333; /* Dark Gray */
    --accent-color: #fff; /* White */
    --bg-color: #f8f9fa; /* Light Gray */
    --shadow-color: rgb(0, 0, 0, 0.1);
    --success-color: #28a745; /* Green */
    --error-color: #dc3545; /* Red */
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-color);
    color: var(--secondary-color);
}

/* Header Section */

.header {
    background: var(--primary-color);
    width: 100%;
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999991;
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--accent-color);
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 500;
    transition: color 0.2s ease-in-out;
}

.nav a:hover {
    color: var(--accent-color);
}

/* Header section */

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 80px 20px;
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
/* Hero Section */